@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans',sans-serif;
  background: #1c1c1c;
}

.App {
  text-align: center;
}

.autocomplete {
  position: relative;
  color: #8a8a8a;
  margin: 60px;
}

.autocomplete .input__search {
  background: #232323;
  height: 60px;
  /* margin: 30px; */
  padding: 10px;
  border: none;
  color: #8a8a8a;
  width: calc( 100vw - 120px - 2em );
  border-radius: 10px;
  font-size: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.autocomplete ul {
  background: #232323;
  position: absolute;
  width: calc(100vw - 120px - 2em);
  border-radius: 10px;
  text-align: left;
  font-size: 1.3em;
  padding: 2em 1em;
}

.autocomplete ul::before {

}

.autocomplete ul li {
  list-style: none;
  padding: 1em 2em;
}

.autocomplete ul li:not(:first-of-type) {
  cursor: pointer;
  border-bottom: 1px solid #1c1c1c;
}
.autocomplete ul li:not(:first-of-type):hover {
  color: #a7a7a7;
}

.autocomplete ul li:first-of-type {
  margin-bottom: 1em;
  padding-left: 0;
}